body{
  margin: 0;
  padding: 0;
  height:800px;
}
#header{
  left:0;
  position: fixed;
  font-size: 30px;
  z-index: 1999;
  
}
#content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 0.3px soild black;
  box-shadow: 0 2px 10px black;
  height: 70px;
  width:410px;
  top:0;
  position:fixed;
  z-index: 1000;
}
label{
  background: darkgreen;
  height: 29px;
  width:57px;
  border: 1px solid black;
  border-radius: 20px;
  background: darkgray;
  position:fixed;
  top:10px;
  left:290px;
  z-index: 1000;
}
span{
  height: 25px;
  width:25px;
  border: none;
  border-radius: 50%;
  background: white;
  position:fixed;
  z-index: 1001;
  top:13px;
  left:293px;
  transition:0.5s;
}
#check-box{
  height: 30px;
  width:80px;
  opacity: 0;
}
#check-box:checked + span{
  transform: translateX(29px);
  background: black;
}
.container{
  margin-top: 100px;
  opacity: 0.6
}
